parameters:
	ignoreErrors:
		-
			message: "#^Method Aoe\\\\UpdateRefindex\\\\Scheduler\\\\UpdateRefIndexTask\\:\\:getRefIndex\\(\\) should return Aoe\\\\UpdateRefindex\\\\Typo3\\\\RefIndex but returns object\\.$#"
			count: 1
			path: ../Classes/Scheduler/UpdateRefIndexTask.php
		-
			message: "#^Cannot call method fetchAll\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: ../Classes/Typo3/RefIndex.php

		-
			message: "#^Method Aoe\\\\UpdateRefindex\\\\Typo3\\\\RefIndex\\:\\:getConnectionPool\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Database\\\\ConnectionPool but returns object\\.$#"
			count: 1
			path: ../Classes/Typo3/RefIndex.php

		-
			message: "#^Method Aoe\\\\UpdateRefindex\\\\Typo3\\\\RefIndex\\:\\:getReferenceIndex\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Database\\\\ReferenceIndex but returns object\\.$#"
			count: 1
			path: ../Classes/Typo3/RefIndex.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$predicates of method TYPO3\\\\CMS\\\\Core\\\\Database\\\\Query\\\\QueryBuilder\\:\\:where\\(\\) expects array\\<int, mixed\\>\\|Doctrine\\\\DBAL\\\\Query\\\\Expression\\\\CompositeExpression, string given\\.$#"
			count: 3
			path: ../Classes/Typo3/RefIndex.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$where of method TYPO3\\\\CMS\\\\Core\\\\Database\\\\Query\\\\QueryBuilder\\:\\:andWhere\\(\\) expects array\\<int, string\\>\\|Doctrine\\\\DBAL\\\\Query\\\\Expression\\\\CompositeExpression, string given\\.$#"
			count: 2
			path: ../Classes/Typo3/RefIndex.php

		-
			message: "#^Property Aoe\\\\UpdateRefindex\\\\Typo3\\\\RefIndex\\:\\:\\$connectionPool \\(TYPO3\\\\CMS\\\\Core\\\\Database\\\\ConnectionPool\\|null\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Typo3/RefIndex.php

		-
			message: "#^Property Aoe\\\\UpdateRefindex\\\\Typo3\\\\RefIndex\\:\\:\\$referenceIndex \\(TYPO3\\\\CMS\\\\Core\\\\Database\\\\ReferenceIndex\\|null\\) does not accept object\\.$#"
			count: 1
			path: ../Classes/Typo3/RefIndex.php