includes:
    - phpstan-baseline.neon
    - ../.Build/vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - ../.Build/vendor/symplify/phpstan-rules/config/services/services.neon

parameters:
    level: 8
    paths:
        - "../Classes/"
        - "../Configuration/"
        - "../Resources/"
        - "../Tests/"
        - "../code-quality/"
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: notIdentical.alwaysTrue
        -
            identifier: method.notFound
            path: ../Tests/
        -
            identifier: return.unusedType
            path: ../Tests/Unit/Typo3/RefIndexTest.php
    inferPrivatePropertyTypeFromConstructor: true
    scanDirectories:
      - ../.Build/vendor

services:
    -
        class: Symplify\PHPStanRules\Rules\ForbiddenFuncCallRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenFunctions:
                - d
                - dd
                - die
                - dump
                - compact
